---
import '../styles/global.css'
import Layout from "../layouts/Layout.astro"
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Tools from '../components/Tools.astro'
import Service from '../components/Service.astro'
import Works from '../components/Works.astro'
import Reviews from '../components/Reviews.astro'
import CallToAction from '../components/CallToAction.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Portfolio — Diseño UX/UI & Desarrollo Frontend">
  <Header />
  <main>
    <Hero />
    <Tools />
    <Service />
    <Works />
    <Reviews />
    <CallToAction />
  </main>
  <Footer />
</Layout>
